<ion-view view-title="{{LABELS['Common.PortfolioMedias']}}" data-page="adm_portfoliomedias">
  <ion-content scroll="false">
    <h2 ng-if="medias.MediaList">{{LABELS['Common.Total']}}: {{medias.TotalRecordCount}}</h2>

    <ion-scroll ng-if="medias.MediaList">
      <div class="list">
        <a class="item" ng-repeat="item in medias.MediaList track by $index" media-lookup-status="{{item.CommonStatus}}"> 
          <h2>{{item.MediaCalcCode}}</h2>
          <p>
            <span>{{item.MediaStatusDesc}}</span>
            <span>
              <img ng-src="{{appIcons.print}}"/>
              {{item.PrintDateTime ? formatShortDateTimeFromXML(item.PrintDateTime) : LABELS['Common.No']}}
            </span>
          </p>
        </a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
