<ion-view view-title="{{LABELS['Common.PortfolioTickets']}}" data-page="adm_portfoliotickets">
  <ion-content scroll="false">
    <h2 ng-if="tickets.TicketList">{{LABELS['Common.Total']}}: {{tickets.TotalRecordCount}}</h2>

    <ion-scroll ng-if="tickets.TicketList">
      <div class="list">
        <a class="item" ng-repeat="item in tickets.TicketList track by $index" media-lookup-status="{{item.CommonStatus}}"> 
          <h2>{{item.TicketCode}}</h2>
          <p>
            <span>{{item.TicketStatusDesc}}</span>
            <span>{{item.ProductName}}</span>
            <span>
              <span ng-if="item.GroupQuantity != 1">{{item.GroupQuantity}} x </span>{{(item.UnitAmount * appCurrency.ExchangeRate) | currency: appCurrency.Symbol+' ' : appCurrency.RoundDecimals}}
            </span>
          </p>
        </a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
<!--
var perf = null
  if ((ticket.PerformanceList) && (ticket.PerformanceList.length > 0)) 
    perf = ticket.PerformanceList[0].Performance;
  
  if (perf == null) {
    divItem.find(".pticket-event").remove();
    divItem.find(".pticket-perf").remove();
  }
  else {
    divItem.find(".pticket-event .medialookup-rec-text").text(perf.EventName);
    divItem.find(".pticket-perf .medialookup-rec-text").text(formatShortDateTimeFromXML(perf.DateTimeFrom));
  }
  -->