<ion-view view-title="{{LABELS['Common.Media']}}" data-page="adm_mediadetail">
  <ion-content>
    <div class="section">
      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.Status']}}
        </div>
        <div class="col col-50 {{statusClass}}">
          {{media.MediaStatusDesc}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.TDSSN']}}
        </div>
        <div class="col col-50">
          {{media.MediaCalcCode}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Reservation.Flag_Printed']}}
        </div>
        <div class="col col-50">
          {{media.PrintDateTime ? formatShortDateTimeFromXML(media.PrintDateTime) : LABELS['Common.No']}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.ExclusiveUse']}}
        </div>
        <div class="col col-50">
          {{media.ExclusiveUse ? LABELS['Common.Yes'] : LABELS['Common.No']}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.PrintAtHome']}}
        </div>
        <div class="col col-50">
          {{media.PrintAtHome ? LABELS['Common.Yes'] : LABELS['Common.No']}}
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.Transaction']}}
        </div>
        <div class="col col-50">
          {{media.TransactionCode}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Account.Location']}}
        </div>
        <div class="col col-50">
          {{media.LocationName}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Account.OpArea']}}
        </div>
        <div class="col col-50">
          {{media.OpAreaName}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.Workstation']}}
        </div>
        <div class="col col-50">
          {{media.WorkstationName}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
