<ion-view view-title="{{LABELS['Ticket.Usages']}}" data-page="adm_ticketusage">
  <ion-content scroll="false">
    <h2 ng-if="usages.TicketUsageList">{{LABELS['Common.Total']}}: {{usages.TotalRecordCount}}</h2>

    <ion-scroll ng-if="usages.TicketUsageList">
      <div class="list">
        <a class="item item-thumbnail-left" ng-repeat="item in usages.TicketUsageList track by $index">
          <img ng-src="{{formatImageUrl(item.IconName, 'imagecache')}}" />
          <h2>{{formatShortDateTimeFromXML(item.UsageDateTime)}}</h2>
          <p>
            <span>{{item.ValidateResultDesc}}</span>
            <span>
              <img ng-src="{{appIcons.location}}"/>
              {{item.AptLocationName}}
            </span>
            <span>
              <img ng-src="{{appIcons.product}}"/>
              {{item.ProductName}}
            </span>
          </p>
        </a>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
