<ion-view view-title="{{LABELS['Ticket.Ticket']}}" data-page="adm_mediaproduct">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left">
        <img ng-src="{{formatImageUrl(media.MainProductProfilePictureId, 'repository')}}"/>
        <h2>{{media.MainProductName}}</h2>
        <p>{{media.MainProductCode}}</p>
      </a>
    </div>

    <div class="section">
      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.Status']}}
        </div>
        <div class="col col-50 {{statusClass}}">
          {{media.MainTicketStatusDesc}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.TDSSN']}}
        </div>
        <div class="col col-50">
          {{media.MainTicketCode}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Product.Price']}}
        </div>
        <div class="col col-50">
          {{(media.MainTicketPrice * appCurrency.ExchangeRate) | currency: appCurrency.Symbol+' ' : appCurrency.RoundDecimals}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.Quantity']}}
        </div>
        <div class="col col-50">
          {{media.MainTicketGroupQuantity}}
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col col-50">
          {{LABELS['Common.DateTime']}}
        </div>
        <div class="col col-50">
          {{formatShortDateTimeFromXML(media.MainTicketPerformanceDateTimeFrom ? media.MainTicketPerformanceDateTimeFrom : dateToXML(now))}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Event.Event']}}
        </div>
        <div class="col col-50">
          {{media.MainTicketEventName}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Account.Location']}}
        </div>
        <div class="col col-50">
          {{media.MainTicketLocationName}}
        </div>
      </div>

      <div class="row">
        <div class="col col-50">
          {{LABELS['Seat.Seat']}}
        </div>
        <div class="col col-50">
          {{media.MainTicketSeatName}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
