#view-account .tab-header-title {
  margin-right: 20rem;
}

#view-account .account-section .mob-card-title {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#view-account .account-section {
  margin-bottom: 3rem;
  background-color: var(--content-bg-color);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

#view-account .account-arrow {
  flex-shrink: 0;
  flex-grow: 0;
  line-height: 26rem;
  padding-right: 2rem;
  color: rgba(0,0,0,0.25);
  font-size: 1.3em;
}

#view-account.read-only .account-arrow {
  display: none;
}

[data-screentype='phone'] #view-account .ticket-card .mob-card-icon {
  width: 20rem;
  height: 20rem;
  line-height: 20rem;
  font-size: 10rem;
}

#view-account .ticket-card .mob-card-title {
  display: flex;
  justify-content: space-between;  
}

#view-account .ticket-card .text-productname {
  flex-shrink: 1;
}

#view-account .ticket-card .text-price {
  flex-shrink: 0;
}

#view-account .no-ticket-title {
  text-align: center;
  font-style: italic;
  padding: 2rem;
}













