#step-checkout .kiosk-center-pane {
  text-align: center;
}

#step-checkout .checkout-message:not(.active) {
  display: none !important;
}

#step-checkout .kiosk-pane-item.virtual-ticket {
  border-radius: 0;
}