.v-button {
  background-color: rgba(0,0,0,0.1);
  border-radius: 6px;
  padding: 0 10px 0 10px;
  line-height: 36px;
  color: black;
  min-width: 70px;
  text-align: center;
  font-size: 13px;
  cursor: default;
  border: none;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.v-button:not(.v-hidden) {
  display: inline-block;
}

.v-button.disabled {
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.05);
}

.v-button:not(.disabled):hover {
  cursor: pointer;
  color: black;
  background-color: var(--highlight-color);
}

.v-button.hl-purple:not(.disabled):hover {
  color: white;
  background-color: var(--base-purple-color);
}

.v-button.hl-red:not(.disabled):hover {
  color: white;
  background-color: var(--base-red-color);
}

.v-button.hl-orange:not(.disabled):hover {
  color: white;
  background-color: var(--base-orange-color);
}

.v-button.hl-blue:not(.disabled):hover {
  color: white;
  background-color: var(--base-blue-color);
}

.v-button.hl-green:not(.disabled):hover {
  color: white;
  background-color: var(--base-green-color);
}

.v-button img {
  vertical-align: middle;
  margin-top: -2px;
}

.v-button.split-button {
  width: 25px;
  padding-left: 0;
  padding-right: 0;
}

.buttonset .v-button {
  min-width: inherit;
}

.buttonset .v-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttonset .v-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px rgba(255,255,255,0.4) solid;
}
