.cal-month {
  text-align: center;
  line-height: normal;
}

.cal-month-header {
  background-color: var(--tab-border-color);
  color: white;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.cal-month-title {
  text-align: center;
  flex-grow: 1;
}

.cal-month-nav {
  display: none;
  width: 24px;
  cursor: pointer;
}

.cal-month[data-showmonthnav='true'] .cal-month-nav {
  display: block;
}

.cal-month table {
  width: 100%;
  background: repeating-linear-gradient(
    315deg,
    #eee,
    #eee 5px,
    #e6e6e6 5px,
    #e6e6e6 7px
  );
}

.cal-month thead td {
  background-color: var(--pagetitle-bg-color);
  padding: 2px;
  font-size: 11px;
  font-weight: bold;
}

.cal-month td {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
}

.cal-month .holiday {
  color: var(--base-red-color);
}

.cal-day {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 0 1px 1px 0;
  text-align: right;
}

.cal-day.active {
  background: white;
}

.cal-day:hover:not(.active):not(.other-month) {
  background-color: rgba(255,255,255,0.5);
}

.cal-day:not(.other-month) {
  cursor: pointer;
}

.cal-day.other-month {
  background-color: rgba(0,0,0,0.05);
}

.cal-day-dom {
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 3px;
  padding-top: 4px;
  font-weight: bold;
}

.cal-day.other-month .cal-day-dom {
  display: none;
}
