.tab-content.cal-tab {
  position: relative;
  height: 750px;
}

.dhx_cal_container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 200px;
  border-right: 1px #dfdfdf solid;
}

.dhx_scale_hour {
  box-sizing: content-box;
}

.cal-resource-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  background: #fafafa;
}

.cal-resource-list {
  position: absolute;
  top: 81px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px #dfdfdf solid;
  overflow: auto;
}

.resource-menu-expand,
.resource-menu-collapse {
  height: 40px;
  line-height: 40px;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}

.resource-menu-expand:hover,
.resource-menu-collapse:hover {
  background-color: #f3f3f3;
}

.resource-menu-expand {
  display: none;
  background-image: url('<v:image-link name="detail_left_black.png" size="32"/>');
  background-repeat: no-repeat;
  background-position: center center;
}

.resource-menu-collapse {
  background-image: url('<v:image-link name="detail_right_black.png" size="32"/>');
  background-repeat: no-repeat;
  background-position: 4px center;
  padding-left: 40px;
}

.tab-content.cal-tab.menu-collapsed .dhx_cal_container {
  right: 40px;
}

.tab-content.cal-tab.menu-collapsed .cal-resource-menu {
  width: 40px;
}

.tab-content.cal-tab.menu-collapsed .resource-menu-collapse {
  display: none;
}

.tab-content.cal-tab.menu-collapsed .resource-menu-expand {
  display: block;
}

.tab-content.cal-tab.menu-collapsed .cal-resource-name {
  display: none;
}

.cal-resource {
  line-height: 32px;
  padding: 4px;
  cursor: move;
  border-bottom: 1px #dfdfdf solid;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
}

.cal-resource:hover {
  background: #f3f3f3;
}

.cal-resource .list-icon {
  float: left;
  width: 32px;
  height: 32px;
}

.cal-resource-draghelper {
  width: 200px;
  background-color: #fafafa;
  border: 1px #dfdfdf solid;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  z-index: 100000;
}

.cal-resource-draghelper .cal-resource-name {
  display: block !important;
}

.cal-resource-name {
  margin-left: 36px;
  font-size: 11px;
  font-weight: bold;
}

.cal-event {
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eaeaea;
  border: 1px rgba(0,0,0,0.4) solid;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  font-size: 12px;
  cursor: pointer;
}

.cal-event.cal-event-dragover {
  border: 6px #a7d7ff solid;
  box-shadow: 0 0 50px black;
}

.cal-event-title {
  position: relative;
  height: 31px;
  font-weight: bold;
  padding: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
  text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
  border-bottom: 1px rgba(0,0,0,0.15) solid;
  overflow: hidden;
}

.cal-event-title1,
.cal-event-title2 {
  display: block;
  margin-left: 40px;
  text-align: left;
  white-space: nowrap;
}

.cal-event.status-draft .cal-event-title {
  background-color: #cecece;
}

.cal-event.status-warn .cal-event-title {
  background-color: #fca100;
}

.cal-event.status-ok .cal-event-title {
  background-color: #30b513;
}

.cal-event.resource-missing {
  opacity: 0.5;
}

.cal-event-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 5px;
  background-image: url('<v:config key="site_url"/>/scheduler/imgs_dhx_terrace/resizing.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.cal-event-body {
  position: absolute;
  top: 38px;
  bottom: 6px;
  left: 0;
  right: 0;  
  padding: 5px;
  overflow: hidden;
}

.cal-event-body .event-name {
  font-size: 12px;
}

.cal-event-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center center;
}

.dhx_event_move {
  cursor: move;
}

.cal-event-body ul {
  margin: 0;
  padding-left: 20px;
}

.cal-row-selector {
  background: rgba(0,0,0,0.15);
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}

.cal-col-selector {
  background: rgba(0,0,0,0.15);
  position: absolute;
}

.cal-selector-date,
.cal-selector-time {
  position: absolute;
  left: 60px;
  font-size: 16px;
}

.cal-selector-date {
  top: 4px;
}

.cal-selector-time {
  top: 20px;
}

.cal-wait-glass {
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  height: 120px;
  margin: 300px auto;
  background-color: white;
  background-image: url('<v:config key="resources_url"/>/admin/images/spinner32.gif');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  z-index: 10;
}

#txtResourceFullText {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  border-radius: 0;
  margin-bottom: 5px;
  line-height: 20px;
}

.filter-tooltip-content {
  width: 400px;
  height: 380px;
}

.filter-tooltip-rtype-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--body-bg-color);
  overflow-y: auto;
}

.filter-tooltip-rtype-detail {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 10px;
}

.filter-tooltip-rtype-detail-title {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.filter-tooltip-rtype-detail-empty {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: rgba(0,0,0,0.6);
}

.filter-tooltip-rtype-detail-match {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.cal-rtype {
  padding: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  cursor: pointer;
}

.cal-rtype.selected {
  background-color: var(--highlight-color);
}

.cal-rtype:not(.selected):hover {
  background-color: rgba(0,0,0,0.05);
}

.cal-rtype .list-icon {
  position: absolute;
}

.cal-rtype-name,
.cal-rtype-code  {
  margin-left: 36px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cal-rtype-name {
  font-weight: bold;
}

.cal-rtype-code {
  color: rgba(0,0,0,0.6);
}

#event-select-dialog {
  padding: 0;
}
#event-select-dialog .listcontainer {
  border: none;
}
