.colorpicker input,
.colorpicker input:focus {
  border: none !important;
  outline: none !important;
}

.v-color-picker {
  display: inline-block;
}

.v-color-preview {
  width: 20px;
  height: 20px;
  float:left;
  border: 1px solid #cecece;
}
.v-color-item-row {
  line-height: initial;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.v-color-item-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #e2e4e7;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}
.v-color-item-box:hover {
  border-color: var(--highlight-color);
}
