.v-dyncombo-btn {
  position: relative;
  text-align: left;
}

.v-dyncombo-btn .caption {
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 12px;
  right: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-dyncombo-btn .caret {
  position: absolute;
  top: 15px;
  right: 5px;
}

.v-dyncombo-btn .lookup-spinner {
  display: none;
}

.v-dyncombo.looking-up .v-dyncombo-btn .lookup-spinner {
  display: inline-block;
}

.v-dyncombo.looking-up .v-dyncombo-btn .caption {
  left: 24px;
}

.dropdown-menu.v-dyncombo-dropdown {
  display: block;
}

.v-dyncombo-search-container {
  border-bottom: 1px solid #dfdfdf;
  padding: 0 5px 5px 5px;
}

.v-dyncombo-search-container input.v-dyncombo-search-text {
  border-width: 0;
  outline: none;
}

.v-dyncombo-search-container .search-icon {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 11px;
  color: rgba(0,0,0,0.4);
}

.v-dyncombo-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px; /* TODO: make it dynamic */
  overflow: auto;
  position: relative;
}

.v-dyncombo-item-list>li {
  padding: 4px 10px; 
  cursor: pointer;
}

.v-dyncombo-item-list>.empty-option {
  font-style: italic;
  color: rgba(0, 0, 0, 0.6);
}

.v-dyncombo-item-list>li:hover,
.v-dyncombo-item-list>li.selected {
  background-color: var(--base-blue-color);
  color: white;
}

.v-dyncombo-dropdown .spinner-icon {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 11px;
  color: rgba(0,0,0,0.8);
}

.v-dyncombo-item-alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v-dyncombo-item-alt .v-dyncombo-item-icon {
  flex-shrink: 0;
  flex-grow: 0;
}

.v-dyncombo-item-alt .v-dyncombo-item-detail {
  margin-left: 5px;
  flex-shrink: 0;
  flex-grow: 1;
}

.v-dyncombo-dropdown.v-dyncombo-loading .spinner-icon {
  display: block;
}

.v-dyncombo-item-title {
  font-weight: bold;
}

.v-dyncombo-item-subtitle {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.7);
}

.v-dyncombo-item-list>li:hover .v-dyncombo-item-subtitle,
.v-dyncombo-item-list>li.selected .v-dyncombo-item-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.v-dyncombo-account-name {
  margin-right: 10px;
}
