
.icon-pane .icon-pane-image,
.icon-pane .icon-pane-iconalias {
  float: left;
  width: 32px;
  height: 32px;
  background-size: 100%;
}

.icon-pane .icon-pane-detail {
  margin-left: 42px;
}
