
.v-icon-alias {
  width: 100px; 
  line-height: 100px;
  text-align: center; 
  font-size: 50px;
  cursor: pointer;
}
.v-icon-alias.no-icon {
  color: rgba(0,0,0,0.1); 
}
.v-icon-alias.disabled {
  color: rgba(0,0,0,0.1);
  cursor: default; 
}

.icon-color-block {
  display: flex;
  justify-content: space-between;
}

.icon-color-block .colors-block {
  flex-grow: 1;
  margin-left: 20px;
}

.icon-color-block .color-line {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}

.icon-color-block .color-line-picker {
  display: block;
  margin: 1px;
  text-align: right;
}
