.v-lkdialog-txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px #999999 solid;
  overflow: hidden;
}

.v-lkdialog-txt input {
  padding: 6px !important;
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  outline: none;
}

.v-lkdialog-itemlist {
  position: absolute;
  top: 29px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.v-lkdialog-entitytype-cont {
  visibility: hidden;
} 

.v-lkdialog-entitytype {
  display: inline-block;
  border-right: 1px solid #999999;
  padding: 0 6px 0 6px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-lkdialog-entitytype-active {
  background-color: white;
  font-weight: bold;
  height: 31px;
}

.v-lkdialog-entitytype:last-child {
  border: none;
}

.v-lkdialog-multientitytype .v-lkdialog-entitytype-cont {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #efefef;
  border-bottom: 1px #999999 solid;
}

.v-lkdialog-multientitytype .v-lkdialog-txt {
  top: 30px;
}

.v-lkdialog-multientitytype .v-lkdialog-itemlist {
  top: 59px;
}
