#adminnavbar {
  position: fixed;
  top: 28px;
  width: var(--adminnavbar-width);
  bottom: 0;
  font-size: 15px;
  background-color: var(--menu-bg-color);
  overflow-y: hidden;
}

#adminnavbar .side-menu-logo-container {
  text-align: center;
}
 
#adminnavbar .side-menu-logo {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: white;
  border-radius: 20px;
}

#adminnavbar, #adminnavbar ul, #adminnavbar li {
  z-index: 1;
}

#adminnavbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--menu-fg-color);
}

#side-menu {
  margin-bottom: 80px;
}

#side-menu:not(.search-mode) li.collapsed ul {
  display: none;
}

#side-menu:not(.search-mode) li.search-only {
  display: none;
}

#adminnavbar li.divider {
  height: 10px;
}

#adminnavbar a,
#adminnavbar a:hover {
  display: block;
  text-shadow: inherit;
  cursor: pointer;
  color: inherit;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 7px 3px 7px 10px;
}

#adminnavbar li .ab-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: inherit !important;
}

#adminnavbar li .ab-icon.fa {
  float: none;
  text-align: center;
  font-size: 1.1em;
}

#adminnavbar ul.side-menu>li:not(.current-item)>a:hover {
  background-color: var(--menu-hover-bg-color);
}

#adminnavbar ul.side-menu>li.current-item {
  background-color: var(--highlight-color); 
  color: rgba(0,0,0, 0.8);
}

#adminnavbar ul.side-menu>li>ul {
  background-color: #706f6e;
  font-size: 14px;
  color: white;
  padding: 8px 0 10px 0px;
}

#adminnavbar a:hover {
  text-decoration: none;
}

#adminnavbar ul.side-menu>li>ul a,
#adminnavbar ul.side-menu>li>ul a:hover {
  padding: 5px 3px 5px 10px;
  line-height: 16px;
}

#adminnavbar ul.side-menu>li>ul>li:hover {
  color: var(--highlight-color);
}

#adminnavbar ul.side-menu>li>ul>li.current-item {
  color: var(--highlight-color);
  font-weight: bold;
}

#adminnavbar .snapp-info { 
  position: fixed;
  left: 0px;
  width: 190px;
  bottom: 0px;
  color: rgba(255,255,255,0.5);
  background-color: var(--menu-bg-color);
  border-top: 1px rgba(0,0,0,0.05) solid;
  padding: 5px 0px 5px 0px;
  font-size: 12px;
  text-align: center;
  white-space: normal;
}

#adminnavbar .snapp-info:hover {
  color: white;
  white-space: normal;
}

#side-menu.search-mode ul.side-menu li:not(.search-match) {
  display: none;
}

#side-menu[data-status='normal'] .side-menu-search-focused {
  display: none;
}

#side-menu[data-status='focused'] .side-menu-search-normal {
  display: none;
}

#side-menu .side-menu-search-normal {
  line-height: 34px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

#side-menu .side-menu-search-normal:hover {
  background-color: rgba(0,0,0,0.15);
}

#side-menu .side-menu-search-normal .fa {
  width: 38px;
  text-align: center;
  font-size: 18px;
}

#side-menu .side-menu-search-focused {
  display: block;
  margin: 0 10px 10px 10px;
}

#side-menu .side-menu-search-txt {
  border: none;
}
