.page-box {
  float: right;
}

.page-box,
.page-box .btn,
.page-box input {
  font-size: 13px;
  text-align: center;
}

.page-box .displaying-num {
  margin-right: 10px;
}

.page-box .displaying-page {
  margin: 0px 6px;
}

.page-box .input-group-container {
  display: inline-block; 
  width: 230px; 
  vertical-align: middle;
}

.page-box .grid-download-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-box .grid-download-menu a .download-item-text {
  flex-grow: 1;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-box .grid-download-menu a .fa {
  font-size: 2em;
}

.page-box .grid-download-menu a .download-item-title {
  font-weight: bold;
}

.page-box .grid-download-menu a .download-item-subtitle {
  font-size: 0.9em;
  color: rgba(0,0,0,0.6);
}
