.v-filter-container.v-filter-hidecond .v-filter-all-condition {
  display: none;
}

.v-filter-container .v-filter-applyall {
  display: none;
}

.v-filter-container.v-filter-hascode .v-filter-applyall {
  display: block;
  margin-top: 10px;
}
 