.v-switch {
  display: inline-block;
  width: 46px;
  height: 26px;
  border-radius: 13px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  user-select: none;
  text-align: left;
}

.v-switch-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.v-switch.v-switch-on {
  background-color: var(--base-green-color);
  text-align: right;
}

.v-switch[disabled='disabled'] {
  cursor: not-allowed;
  background-color: #eee;
}

.v-switch.v-switch-on[disabled='disabled'] {
  background-color: #bddfb6;
}

.v-switch[disabled='disabled'] .v-switch-button {
  background: #eee;
}
