.v-tabs-nav-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px; 
  border-bottom: 1px solid var(--border-color);
  height: 38px;
}
 
.v-tabs-item-top {
  float: left;
  background-color: rgba(0,0,0,0.03); 
  border: 1px solid var(--border-color);
  border-width: 1px 1px 0 0;
  line-height: 33px;
  padding-top: 3px;
}

.v-tabs-item-top:not(.plus-menu-item) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.v-tabs-item-top:first-child {
  border-left-width: 1px;
}

.v-tabs-item-top:hover {
  background-color: var(--body-bg-color);
}

.v-tabs-item-top.v-tabs-active {
  background-color: var(--body-bg-color); 
  height: 38px;
  border-top: 4px solid var(--highlight-color);
  padding-top: 0;
  font-weight: bold; 
}

.v-tabs-item-top.plus-menu-item {
  margin-top: 12px;
  padding: 0;
}

.v-tabs-item-top.plus-menu-item .btn {
  padding: 2px 6px;
  margin: 0;
  background: none;
}

.v-tabs-item-top.plus-menu-item .btn:focus {
  outline: 0;
}

.v-tabs-anchor-top {  
  display: block;
  color: inherit;
  text-shadow: none;
  padding: 0 20px; 
}

a.v-tabs-anchor,
a.v-tabs-anchor:hover {
  color: inherit !important; 
  text-decoration: none !important;
}

.v-tabs-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.v-tabs-item-top .fa {
  font-size: 1.3em;
  vertical-align: middle;
}

.v-tabs-dialog .ui-dialog-content {
  padding: 0;
}

.v-tabs-dialog .ui-dialog-titlebar {
  background: var(--pagetitle-bg-color);
  border: 0;
}

.v-tabs-main>*>.v-tabs-nav {
  background-color: var(--pagetitle-bg-color);
}

[data-pagestatus='ARCHIVED'] .v-tabs-main>*>.v-tabs-nav {
  background-color: var(--base-blue-color);
}

.v-tabs-main>*>.v-tabs-nav .v-tabs-item {
  border: 0;
  height: auto;
  line-height: 38px;
  padding: 0;
  background-color: rgba(0,0,0,0.04);
}

.v-tabs-main>*>.v-tabs-nav .v-tabs-item:hover {
  background: rgba(255,255,255,0.3);
}

.v-tabs-main>*>.v-tabs-nav .v-tabs-item.v-tabs-active {
  background-color: var(--body-bg-color);
}



/* SIDE NAV */

.v-tabs-nav-container-side {
  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0;
  width: 170px;
  border-right: 1px var(--tab-side-border-color) solid;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.v-tabs-search {
  padding: 10px;
  border-bottom: 1px var(--tab-side-border-color) solid;
  flex-shrink: 0;
}

.v-tabs-nav-side {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  flex-grow: 0;
}

.v-tabs-container.sidenav-large .v-tabs-nav-container-side {width: var(--profile-sidebar-width)}
.v-tabs-container.sidenav-large .v-tabs-panel-side {left: calc(var(--profile-sidebar-width) + 1px)}
 
.v-tabs-item-side {
  max-width: none !important; /* fix jQuery dialog resize issue*/
  overflow: hidden;
  background-color: white;
  border-bottom: 1px var(--tab-side-border-color) solid;
}

.v-tabs-item-side:hover {
  background-color: rgba(0,0,0,0.03); 
}

.v-tabs-item-side.v-tabs-active {
  background-color: var(--highlight-color);
}

.v-tabs-anchor-side {
  display: flex;
  justify-content: space-between;
  font-weight: bold;  
  padding: 4px;
  line-height: 24px;
  cursor: pointer;
  color: inherit;
  text-shadow: none;
}

.v-tabs-caption-side {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.v-tabs-icon-side {
  flex-shrink: 0;
}

.v-tabs-anchor-side>.fa {
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 24px;
  width: 24px;
  text-align: center;
  border-radius: 4px;
  flex-shrink: 0;
}

.v-tabs-panel-side {
  position: absolute;
  top: 0;
  left: 171px;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
