#admintopbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 4px;
  padding-right: 4px;
  height: var(--admintopbar-height);
  z-index: 21;
  color: white;
  background-color: #242323;
}

.topmenu-item {
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
  color: white;
  opacity: 0.75;
}

.topmenu-item:hover {
  opacity: 1;
}

.topmenu-item.float-left {
  float: left;
}

.topmenu-item.float-right {
  float: right;
}

.topmenu-item .badge {
  margin-left: 5px;
  margin-top: -3px;
}

.topmenu-item .fa {
  font-size: 16px;
}

.topmenu-caption {
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 18px 18px;
  margin-left: 4px;
}

.topmenu-item:hover {
  background-color: #50504e;
  color: white;
}

#topmenu-test.topmenu-item {
  display: none;
}
body.test-system #topmenu-test.topmenu-item {
  display: block;
}
#topmenu-test.topmenu-item,
#topmenu-test.topmenu-item:hover {
  background-color: var(--base-red-color);
  color: white;
  opacity: 1;
}

.topmenu-content {
  position: fixed;
  width: 200px;
  background-color: #50504e;
  padding: 10px;
  display: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.topmenu-item:hover .topmenu-content {
  display: block;
}

#topmenu-content-profilepic {
  width: 50px;
  height: 50px;
  float: left;
}

.topmenu-content-item {
  margin-left: 60px;
  line-height: 25px;
}

.topmenu-content-item a {
  color: rgba(255,255,255,0.75);
}

.topmenu-content-item a:hover {
  color: var(--highlight-color);
}

#topmenu-timezone {
  cursor: pointer;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#topmenu-msg .msg-unread-notify {
  background-color: red;
}

#topmenu-msg .msg-unread-notify[data-UnreadCount='0'] {
  display: none;
}

#topmenu-msg-widget .topmenu-content {
  width: 420px;
  height: auto;
  padding: 0;
}

#topmenu-msg-widget .msg-list-header {
  padding: 10px;
  overflow: hidden;
}

#topmenu-msg-widget .msg-list-header a {
  color: var(--highlight-color);
  text-decoration: none;
}

#topmenu-msg-widget .msg-list-header a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

#topmenu-msg-widget .msg-list-body {
  min-height: 50px;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

#topmenu-msg-widget .msg-item {
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: var(--body-bg-color);
  color: var(--text-color);
  cursor: pointer;
  overflow: hidden;
}

#topmenu-msg-widget .msg-item.msg-unread {
  background: white;
}

#topmenu-msg-widget .msg-item:hover {
  background: rgba(0,0,0,0.1) !important;
}

#topmenu-msg-widget .msg-item:last-child {
  border: none;
}

#topmenu-msg-widget .msg-unread-bullet {
  visibility: hidden;
  color: var(--base-blue-color);
}

#topmenu-msg-widget .msg-unread .msg-unread-bullet {
  visibility: visible;
}

#topmenu-msg-widget .msg-item-title {
  font-size: 15px;
  font-weight: bold;
}

#topmenu-msg-widget .msg-item-datetime {
  font-size: 13px;
  margin-left: 18px;
  color: rgba(0,0,0,0.6);
}

#topmenu-msg-widget .msg-item-body {
  margin-top: 5px;
  font-size: 13px;
  margin-left: 18px;
  color: rgba(0,0,0,0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#topmenu-msg-widget .msg-empty {
  font-size: 20px;
  color: rgba(0,0,0,0.4);
  text-align: center;
  line-height: 50px;
  font-style: italic;
}

#notification-box {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 500px;
  font-size: 14px;
  z-index: 21;
} 
