
#view-shopcart .sc-group-list {
  background-color: var(--content-bg-color);
  border-bottom: 1px solid var(--border-color);
}

#view-shopcart .sc-group-title {
  background-color: var(--border-color);
  padding: 1rem;
  font-weight: bold;
  font-size: 0.8em;
}

#view-shopcart .sc-item {
  border-top: 1px solid var(--border-color);
  padding: 2rem;
}

#view-shopcart .sc-item:first-child {
  border-top: none;
}

#view-shopcart .sc-item-data-line {
  display: flex;
  justify-content: space-between;
}

#view-shopcart .sc-item-data-line.line2 {
  font-size: 0.8em;
  color: rgba(0,0,0,0.8);
}

#view-shopcart .transaction-type {
  padding: 2rem;
  background-color: var(--base-orange-color);
  color: white;
  font-weight: bold;
  text-align: center;
}

#view-shopcart[data-transactiontype='1'] .transaction-type {
  display: none;
}

#view-shopcart .resdisplay-container,
#view-shopcart .reservation-section {
  display: none;
}

#view-shopcart[data-reservation='true'] .resdisplay-container,
#view-shopcart[data-reservation='true'] .reservation-section {
  display: block;
}

#view-shopcart .resdisplay-container {
  float: left;
  width: 40rem;
  background-color: black;
  margin: 1rem;
  border-radius: 2rem;
  color: white;
  padding: 2rem;
  line-height: 7rem;
}

#view-shopcart .privcard-line {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#view-shopcart .reservation-line .order-pnr,
#view-shopcart .reservation-line .owner-account,
#view-shopcart .privilege-card .product-name,
#view-shopcart .privilege-card .account-name {
  font-weight: bold;
}

#view-shopcart .resdisplay-icon {
  float: left;
  width: 7rem;
}

#view-shopcart .resdisplay-container .order-pnr {
  margin-left: 7rem;
  text-align: right;
}

#view-shopcart .resdisplay-container .owner-account {
  text-align: center;
}

#view-shopcart .mob-card-body.resbtn-list {
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

#view-shopcart .resbtn {
  float: left;
  width: 20rem;
  height: 20rem;
  line-height: 20rem;
  font-size: 8rem;
  text-align: center;
}

#view-shopcart .resbtn:not(.disabled):hover {
  background-color: var(--highlight-color);
}