#view-apt-monitor-detail .apt-recap {
  overflow: hidden;
  background-color: var(--content-bg-color);
  border-bottom: 1px solid var(--border-color);
}

#view-apt-monitor-detail .apt-recap-status {
  float: left;
  width: 50%;
  overflow: hidden;
  border-right: 1px solid var(--border-color);
}

#view-apt-monitor-detail .apt-recap-counter {
  float: left;
  width: 50%;
  overflow: hidden;
  padding: 3rem;
}

#view-apt-monitor-detail .apt-status-item {
  display: flex;
  justify-content: space-between; 
  overflow: hidden;
  cursor: pointer;
}

#view-apt-monitor-detail .apt-status-icon {
  width: 12rem;
  line-height: 12rem;
  font-size: 8rem;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--base-gray-color);
}

#view-apt-monitor-detail .apt-status-body {
  flex-grow: 1;
  overflow: hidden;
  padding: 1rem 2rem 1rem 0;
}

#view-apt-monitor-detail .apt-status-caption {
  font-weight: bold;
  line-height: 5rem;
}

#view-apt-monitor-detail .apt-status-value {
  line-height: 5rem;
  font-size: 0.7em;
}

#view-apt-monitor-detail .apt-counter-title {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

#view-apt-monitor-detail .apt-counter-item {
  display: flex;
  justify-content: space-between;
}

#view-apt-monitor-detail .apt-counter-value {
  flex-shrink: 0;
  font-weight: bold;
}

#view-apt-monitor-detail .apt-counter-spacer {
  height: 4rem;
}

#view-apt-monitor-detail .usage-item {
  border: none;
  background-color: var(--base-green-color);
}

#view-apt-monitor-detail .usage-item.bad-result {
  background-color: var(--base-red-color);
}

#view-apt-monitor-detail .usage-item .mob-widget-header {
  color: white;
  border: none;
  line-height: normal;
  font-size: inherit;
  padding: 2rem;
}

#view-apt-monitor-detail .usage-item .mob-widget-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

#view-apt-monitor-detail .usage-item .mob-widget-block {
  border: none;
  background-color: var(--content-bg-color);
  margin: 1rem;
}
