#step-catalog .kiosk-spinner {
  margin-top: 12rem;
}

#catalog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 25rem; 
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#catalog-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:root {
  --catalog-tab-button-size: 10rem;
}

#catalog-tab {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
}

#catalog-tab:not(.loading) .catalog-tab-spinner {
  display: none;
}

#catalog-tab.loading .catalog-tab-container {
  display: none;
}

.catalog-tab:not(.loading) .catalog-tab-spinner {
  display: none;
}

.catalog-tab {
  position: relative;
  width: var(--catalog-tab-button-size);
  height: var(--catalog-tab-button-size);
  background-size: cover;
  background-position: center center;
  background-color: var(--bs-blue);
  cursor: pointer;
  opacity: 0.8;
  margin: 1rem;
  border-radius: 1rem;
  border: 1px solid #0002;
  overflow: hidden;
}

.catalog-tab:hover,
.catalog-tab.active {
  opacity: 1;
}

.catalog-tab.active {
  opacity: 1;
  border: 0.4rem solid var(--bs-blue);
}

.catalog-tab-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #0000, #000a);
  padding-top: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

#catalog-body {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow: auto;
}

.catalog-body {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.catalog-body:not(.active) {
  display: none;
}

.catalog-body:not([data-parentcatalogid]) .btn-body-back {
  display:none;
}

.catalog-body-header {
  display: flex;
  justify-content: space-between;  
}

.catalog-body-header-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.catalog-body-title-container {
  margin-bottom: 1rem;
}

.catalog-body-title {
  font-size: 3rem;
}

.catalog-body-content {
  background: white;
  border-radius: 2rem;
}

.catalog-body:not(.catalog-body-event) .event-body {
  display: none !important;
}

.catalog-body-performance-title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
