:root {
  --base-purple-color: #cc2ec2;
  --base-red-color: #ea4335;
  --base-orange-color: #fbbc05;
  --base-blue-color: #4285f4;
  --base-green-color: #34a853;
  --base-gray-color: #cccccc;

  --body-bg-color: #f5f3f1;
  --content-bg-color: white;
  --header-bg-color: white;
  --pagetitle-bg-color: #d9d7ce;
  --highlight-color: #fecc00;
  --menu-bg-color: #605f5e;
  --menu-fg-color: #eeeeee;
  --menu-hover-bg-color: #50504e;
  --text-color: rgba(0,0,0,0.8);
  --border-color: #e5e5e5;
  --tab-border-color: #aba79a;
  --tab-side-border-color: #c8c7cc;
  --matrix-border-color: #d3d3d3;
  --matrix-title-bg-color: #e6e6e6;
  --matrix-highligh-bg-color: #fffedd;
  
  --info-bg-color: #fcf8e3;
  --info-border-color: #faebcc;
  --info-text-color: #8a6d3b;
  
  --widget-border-radius: 6px;
}  

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.absolute-all {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fg-purple, .fg-fatal    {color: var(--base-purple-color);}
.fg-red,    .fg-error    {color: var(--base-red-color);}
.fg-orange, .fg-warn     {color: var(--base-orange-color);}
.fg-blue,   .fg-complete {color: var(--base-blue-color);}
.fg-green,  .fg-active   {color: var(--base-green-color);}
.fg-gray,   .fg-draft    {color: var(--base-gray-color);}
