.maintenance-device {
  padding: 1rem;
  display: flex;
  line-height: 2rem;
}

.maintenance-device-body {
  width: 60%;
  display: flex;
	gap: 12px;
}

.maintenance-device-actions {
  display: flex;
	gap: 12px;
}

.maintenance-device-status {
  flex: 0 0 0px;
}

.maintenance-device-total {
  flex: 0 0 0px;
  min-width: 10rem;
}

.maintenance-device-title,
.maintenance-device-status-value, 
.maintenance-device-error {
  font-size: 1.5rem;
  font-weight: 500;
}

.maintenance-device-subtitle, 
.maintenance-device-status-value {
  font-weight: 500;
  color: #0009;
}

.maintenance-device-quantity {
  display: flex;
}
  
.maintenance-device-status-value {
  padding: 0.6rem 1rem;
  min-width: 4rem;
  text-align: center;
} 

.maintenance-device-status-icon {
	font-size: 2rem;	
}

.maintenance-device-status-icon.status-READY {
  color: green;
}

.maintenance-device-status-icon.status-INITIALIZING {
	color: orange;
}

.maintenance-device-status-icon.status-ERROR {
	color: red;
}

.maintenance-device-actions .btn {
  display: flex;
	gap: 6px;
	line-height: 2.5rem;
}
