.device-manager-name,
.device-manager-status {
  font-size: 1.0rem;

}

.device-manager-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.maintenance-toolbar {
	display: flex;
   gap: 12px;
   flex-direction: row-reverse;
   padding-right: 12px;
}


#maintenace-body {
	width: auto;
}

.maintenance-device-body {
	margin-right: 12px;
}

.hidden {
	display: none;
}

.log-panel {
  font-size: 0.8rem;
  position: absolute;
  width: 90%;
  height: 20%;
  top: 79%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  padding: 6px;
  background-color:rgb(230, 230, 230);
  border-style: groove;
  
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}