.kiosk-header {
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.kiosk-header-subtitle {
  color: #000a;
  font-size: 1.5rem;
}

.kiosk-header-title .fa {
  margin-right: 3rem;
}
