.transaction-step:not(.active) {
  display: none !important;
}

#status-transaction {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.transaction-step {
  flex-grow: 1;
  position: relative;
  overflow: auto;
}

.step-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
