#view-attendance .attendance-item {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  overflow: hidden;
  border-left: 2rem solid var(--base-gray-color);
}

#view-attendance .attendance-item.status-busy {
  border-left: 2rem solid var(--base-orange-color);
}

#view-attendance .attendance-item.status-open {
  border-left: 2rem solid var(--base-green-color);
}

#view-attendance .attendance-item-pic {
  float: left;
  width: 18rem;
  height: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
}

#view-attendance .attendance-item-detail {
  margin-left: 18rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#view-attendance .attendance-item-line {
  overflow: hidden;
}

#view-attendance .attendance-item-time {
  float: left;
  width: 30rem;
  font-size: 1.7em;
}

#view-attendance .attendance-item-event {
  float: left;
  width: 50rem;
}

#view-attendance .attendance-item-quantity {
  margin-left: 30rem;
  font-size: 1.7em;
  text-align: right;
}

#view-attendance .attendance-item-pbout {
  height: 2rem;
  margin-top: 3rem;
  margin-left: 50rem;
  background-color: var(--pagetitle-bg-color);
}

#view-attendance .attendance-item-pbin {
  float: left;
  height: 2rem;
  background-color: var(--base-green-color);
}
