#shopcart-display {
  box-shadow: 0 0 3rem black;
  font-size: 1.5rem;
  z-index: 10;
  background: white;
  border-top: 1px solid #0006;
}

#status-transaction:not(.show-shopcart-display) #shopcart-display {
  display: none !important;
} 

.shopcart-display-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
  font-weight: bold;
}

.shopcart-display-title {
  flex: 1 0 0px; 
  }

#shopcart-display.emptycart .shopcart-display-title {
  text-align: center;
}

#shopcart-display:not(.emptycart) .show-when-empty,
#shopcart-display.emptycart .hide-when-empty {
  display: none !important;
}

.shopcart-display-footer {
  display: flex;
  justify-content: space-between;
}

.shopcart-display-footer .btn {
  flex: 1 1 0px;
  margin: 1rem;
}