.apt-view[data-view='manual-input'] .apt-line {
  padding: 0;
} 

.apt-view[data-view='manual-input'] .apt-line-input {
  background: white;
} 

.apt-view[data-view='manual-input'] #txt-input, 
.apt-view[data-view='manual-input'] #txt-input:focus {
  border: none;
  outline: none;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}