#status-screens {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.status-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.status-screen:not(.active) {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.8;
}