body.page-app-adm-login, body.page-app-adm-tab-redemption, body.page-app-adm-tab-attendance, body.page-app-adm-tab-info {
    ion-nav-bar {
        .button.back-button {
            display: none !important;
        }
    }
}

ion-modal-view#redemptionScanModal {
    ion-content {
        .list > .item:first-child {
            border-top: none;
        }
    }
}

.view-container[name="tab-redemption"] {
    ion-view[data-page="adm_redemption"] {
        $border: .125rem;
        $content_h: 7rem;
        $padding: .625rem;
        $head_h: 1.7rem;

        .validate {
            border-width: $border;
            border-style: solid;
            text-align: center;
            background-color: #fff;
            opacity: .5;
            margin-top: 1rem;
            padding: 0;
            
            > * {
                $s: 1.2rem;
                font-size: $s;
                padding: $padding;
                white-space: normal;
                line-height: $head_h;
                word-break: break-word;
            }

            > h2 {
                color: #fff;
                font-weight: bold;
                margin-bottom: 0;
            }

            &:first-child {
                opacity: 1;
                margin-top: 0;
            }

            &.item-thumbnail-left {
                $top: $head_h + 2 * $padding;
                min-height: $top + $content_h;

                > img {
                    left: 0;
                    top: $top;
                    padding: 0;
                    max-width: $content_h;
                    max-height: $content_h;
                }

                > p {
                    padding: .5rem $padding .5rem ($content_h + $padding);

                    span {
                        display: block;
                        white-space: normal;
                        line-height: $head_h;

                        &.validate-account {
                            font-weight: bold;
                            margin-bottom: .5rem;
                        }

                        &.validate-ticket {
                            font-size: 1rem;
                            line-height: 1.2rem;
                            margin-bottom: .5rem;
                        }

                        &.validate-message {
                            font-size: .9rem;
                            line-height: 1rem;
                        }
                    }
                }
            }
        }
    }

    ion-view[data-page="adm_media"], ion-view[data-page="adm_ticketusage"], ion-view[data-page="adm_portfoliomedias"], ion-view[data-page="adm_portfoliotickets"] {
        @include viewHasTotal();
    }

    ion-view[data-page="adm_media"] {
        .mediaNotFound {
            font-size: 1.2rem;
            padding: 2rem $mycontentpadding;
            text-align: center;
        }

        ion-scroll {
            .item {
                background: transparent;
                border: none;
                margin-top: 1rem;

                &, .row.profile {
                    padding: 0;
                }

                > .row.profile {
                    background: #fff;
                    border-bottom: 1px solid $gray-light;

                    .bold:first-child {
                        white-space: normal;
                        word-break: break-all;
                        margin-top: .25rem;
                        margin-bottom: .5rem;
                        font-size: 1.1rem;
                    }

                    .bold.heading {
                        color: $gray-text;
                        text-transform: uppercase;
                        font-size: .9rem;
                        line-height: 1rem;
                        margin-top: .25rem;
                        margin-bottom: .25rem;

                        + div {
                            font-size: 1rem;
                        }
                    }

                    > div {
                        padding: 0;

                        &:first-child {
                            line-height: 0;
                            background: #000;
                            @include display-flex();
                            @include flex-direction(column);
                            @include justify-content(center);
                        }
                        &:nth-child(2) {
                            text-align: center;
                        }
                    }
                }

                > ul {
                    margin-top: 1rem;
                    font-size: .875rem;
                    padding-bottom: 1rem;
                    border-top: 1px solid $gray-light;
                    border-bottom: 1px solid $gray-light;
                    @include rowStyle();
                    @include badge();
                }

                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    > ul {
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    ion-view[data-page="adm_mediaproduct"], ion-view[data-page="adm_mediadetail"] {
        @include section();
    }
    ion-view[data-page="adm_mediaproduct"] {
        .list {
            &:first-child > .item {
                border-top: none;
            }

            > .item {
                border-color: $gray-light;

                > h2, > p {
                    white-space: normal;
                }
                > h2 {
                    font-weight: bold;
                }
            }
        }
    }

    ion-view[data-page="adm_portfoliomedias"], ion-view[data-page="adm_portfoliotickets"] {
        .list {
            .item {
                padding: $myitemthumbpadding $myitemthumbpadding $myitemthumbpadding 2*$myitemthumbpadding;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: $myitemthumbpadding;
                }

                @include itemTextStyle();

                p {
                    > span {
                        display: block;

                        img {
                            position: relative;
                            top: 4px;
                            opacity: .4;
                            width: 1.1rem;
                            height: auto;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }

    ion-view[data-page="adm_ticketusage"] {
        .item {
            p {
                > span {
                    display: block;
                    white-space: normal;
                    word-break: break-word;

                    img {
                        position: relative;
                        top: 1px;
                        opacity: .4;
                        width: .8rem;
                        height: auto;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

.view-container[name="tab-attendance"] {
    ion-view[data-page="adm_attendance"] {
        @include viewHasTotal();

        .list {
            .item-thumbnail-left {
                $w: 6.25rem;
                $p_r: 2*$myitemthumbpadding;

                min-height: $w;
                padding-left: calc(#{$w} + #{$p_r});

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: $myitemthumbpadding;
                }

                img {
                    top: 0;
                    left: $myitemthumbpadding;
                    max-width: $w;
                    max-height: $w;
                }
                h2 {
                    font-size: 2rem;
                    line-height: 2.2rem;

                    .quantity {
                        position: absolute;
                        right: $p_r;
                        top: $myitemthumbpadding;
                    }
                }
                p {
                    @include display-flex();
                    @include align-items(center);
                    color: $base-color;
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                    margin-top: 1rem;

                    > span {
                        @include display-flex();
                        @include flex(1);
                        $t_w: 67%;

                        &.text {
                            padding-right: .5rem;
                            max-width: $t_w;

                            &:only-child {
                                padding-right: 0;
                                max-width: 99.6%; // for ellipsis
                            }
                        }

                        &.percentage {
                            background-color: $bar-stable-bg;
                            height: 1rem;
                            max-width: calc(100% - #{$t_w});

                            > .percentage-bar {
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.view-container[name="tab-info"] {
    ion-view[data-page="adm_info"] {
        @include infoPageStyle();
    }

    ion-view[data-page="adm_gates"] {
        .scroll-content {
            .list {
                > .item {
                    font-size: .875rem;
                    padding: .75rem;

                    &:first-child {
                        border-top: none;
                    }

                    &.activated {
                        background: #fff;
                        border-color: $gray-light;
                    }
                    
                    img {
                        $s: 2rem;
                        position: absolute;
                        right: .5rem;
                        width: $s;
                        height: $s;
                        top: 50%;
                        margin-top: -($s/2);
                    }
                }
            }
        }
    }
}