.specialprod {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  overflow: hidden;
  height: 18vw;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.specialprod:active {
  background-color: var(--highlight-color);
}

.specialprod-pic {
  width: 18vw;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 10vw;
  text-align: center;
  line-height: 18vw;
  background-repeat: no-repeat;
  background-position: center center;
}

.specialprod-detail {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vw;
}

.specialprod-name {
  font-size: 1.5em;
}
