<ion-view view-title="{{LABELS['Common.Login']}}" data-page="login">
  <ion-content class="padding">
    <div id="login-logo" class="center">
      <img ng-src="{{logo}}" />
    </div>
    
    <form name="LoginForm" ng-submit="doLogin()" novalidate>
	    <div class="list list-inset">
	      <label class="item item-input">
	        <input type="text" id="txt-username" ng-keydown="userkeydown($event)" ng-model="login.username" placeholder="{{LABELS['Common.UserName']}}" autocomplete="off" autocorrect="off" autocapitalize="none">
	      </label>
	      <label class="item item-input">
	        <input type="password" id="txt-password" ng-model="login.password" placeholder="{{LABELS['Common.Password']}}">
	      </label>
	    </div>
	    <div id="login-error" class="center error" ng-if="loginError">{{loginErrorMsg}}</div>
			<div class="button-container center">
	    	<button class="button">{{LABELS['Common.Login']}}</button>
			</div>
    </form>
  </ion-content>
</ion-view>
